@page
@model HospiEnCasa.App.FrontEnd.Pages.Pacientes.ConsultarPaciente
@{
    ViewData["Title"] = "Consultar Paciente";
}


        <div class="card p-2 m-5 w-50">
          <div class="card-body">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Escribe una cedula a consultar" aria-label="Recipient's username" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2" data-toggle="modal" data-target="#exampleModalScrollable">Buscar</button>
              </div>
            </div>
          </div>
        </div>
        
        <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalScrollableTitle">HospiEnCasa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Datos del paciente</h5>
                    <p class="card-text">
                        <div class="">
                          <p>Nombre: Francisco</p>
                          <p>Apellido: Perez</p>
                          <p>Documento: 1234567</p>
                          <p>Fecha de nacimiento: 21/10/1998</p>
                          <p>Genero: Masculino</p>
                          <p>Direccion: CR 16 Calle 55-12 C</p>
                          <p>Telefono:32154687</p>
                          <p>Familiar Asignado: Pastor Lopez</p>
                          <p>Correo: correo@correo.com</p>
                        </div>
                    </p>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>