@page
@model HospiEnCasa.App.FrontEnd.Pages.Pacientes.CrearSugerencia
@{
    ViewData["Title"] = "CrearSugerencia";
}

<div class="card p-1 m-5 w-75 bg-white mt-5">
    <div class="card-body">
        <div class="card-title text-center">
            <p class="form-title font-weight-bold">Escribir sugerencia del paciente</p>
            </div>
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.Sugerencia.Descripcion">Descripción de la sugerencia:</label>
                <textarea class="form-control" asp-for="Sugerencia.Descripcion" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Sugerencia.Fecha">Fecha de la sugerencia:</label>
                <input type="date" class="form-control" asp-for="Sugerencia.Fecha" />
            </div>
                <input type="hidden" asp-for="Sugerencia.IdPaciente" value="@Model.Paciente.IdPaciente"/>
                <input type="hidden" asp-for="Sugerencia.IdMedico" value="@Model.Medico.IdMedico"/>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary mt-5">Crear</button>
                </div>
        </form>
    </div>
</div>