body {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  min-height: 100vh;
  overflow-x: hidden;
}

/* Inicio menu vertical */

 .vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}
.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
} 

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff;
}

.text-uppercase {
  letter-spacing: 0.1em;
}
.text-gray {
  color: #aaa;
}
.nav-link{
    text-transform: capitalize;
}
.nav-link:hover{
    background:#f3f2f2;
}
.text-primary{
    color:#7579e7 !important;
}

.bottom {
  position: fixed;
  bottom: 0;
  background: #fff;
  margin-left: 1rem;
  padding: 1rem;
  text-align: center;
}
@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}

.hover:hover {
  background-color: red;
}

/* Fin menu vertical */

/* Tarjetas */

.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.box {
  width: 33%;
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px hsl(229, 6%, 66%);
  padding: 30px;
  margin: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.box h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}
  
.box-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.box p {
  align-self: center;
  color: #a1c4fd;
  font-size: 5rem;
}

img {
  width: 50%;
  height: auto;
}


.cyan {
  border-top: 5px solid hsl(180, 62%, 55%);
}

.blue {
  border-top: 3px solid hsl(212, 86%, 64%);
}
.orange {
  border-top: 3px solid hsl(34, 97%, 64%);
}

/* Form */

.form-title {
  font-size: 1.5rem;
}

/* Detalles Paciente */

.card {
  border-radius: 5px;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
  border: none;
  margin-bottom: 30px;
}

.m-r-0 {
  margin-right: 0px;
}

.m-l-0 {
  margin-left: 0px;
}

.user-card-full .user-profile {
  border-radius: 5px 0 0 5px;
}

.bg-card {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.user-profile {
  padding: 20px 0;
}

.card-block {
  padding: 1.25rem;
}

.m-b-25 {
  margin-bottom: 25px;
}

.img-radius {
  border-radius: 5px;
}



h6 {
  font-size: 14px;
}

.card .card-block p {
  line-height: 25px;
}

@media only screen and (min-width: 1400px){
p {
  font-size: 14px;
}
}

.card-block {
  padding: 1.25rem;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
  margin-bottom: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.card .card-block p {
  line-height: 25px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.text-muted {
  color: #919aa3 !important;
}

a .text-active {
  color: #7579e7 !important;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
  font-weight: 600;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-t-40 {
  margin-top: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-t-40 {
  margin-top: 20px;
}

/* Separador */

.divider {
  display: flex;
  margin-right: 50px;
}

.divider:before,
  .divider:after {
    content: "";
    flex: 1;
  }

.line {
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.line:before,
.line:after {
  height: 1px;
  margin: 0 1em;
}

.one-line:before,
.one-line:after {
  background: black;
}

/* Signos vitales */
.pill {
  --primary-clr: #1C204B;
  --dot-clr: #BBC0FF;
  --play: hsl(195, 74%, 62%);
  width: 200px;
  height: 170px;
  border-radius: 10px;
 }
 
 .pill {
  font-family: "Arial";
  color: #fff;
  display: grid;
  cursor: pointer;
  grid-template-rows: 50px 1fr;
 }
 
 .pill:hover .img-section {
  transform: translateY(1em);
 }
 
 .pill-desc {
  border-radius: 10px;
  padding: 15px;
  position: relative;
  top: -10px;
  display: grid;
  gap: 10px;
  background: var(--primary-clr);
  color: #fff;
 }

 .bg-desc-light-blue {
  background: #4D58FF;
 }
 .bg-desc-sky {
  background: #6670FF;
 }
 .bg-desc-red {
  background : #FF4D4D;
 }
 .bg-desc-pink {
  background: #FF6666;
 }
 .bg-blanco {
  background: #E6E6E6;
 }
 
 .pill-time {
  font-size: 0.9rem;
  font-weight: 500;
 }
 
 .img-section {
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
 }

 .bg-blue {
  background: hsl(195, 74%, 62%);
 }
 .bg-light-blue {
  background: #99A0FF;
 }
 .bg-light-red {
  background: #ff9999;
 }
 .bg-light-pink{
  background: #ffd3d3;
 } 
 .bg-sky {
  background: #b3ccff;
 }
 .pill-header {
  display: flex;
  align-items: center;
  width: 100%;
 }
 
 .pill-title {
  flex: 1;
  font-size: 0.7em;
  font-weight: 300;
 }
 
 .pill svg {
  float: right;
  max-width: 100%;
  max-height: 100%;
 }
 .pill-menu {
  display: flex;
  gap: 4px;
  margin-inline: auto;
 }

 .pill .dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #FFF;
 }
 
.recent {
  line-height: 0.3;
  font-size: 1rem;
  text-decoration: wavy;
 }

 a:hover {
  text-decoration: none;
 }

 .link-a {
  color: #4D58FF;
 }

 /* input para actualizar */
 .group {
  position: relative;
 }
 
 .input {
  font-size: 14px;
  position: absolute;
  color: #919aa3;
  top: -5px;
  display: block;
  width: 170px;
  border: none;
  border-bottom: 1px solid #919aa3;
  background: transparent;
 }
 
 .input:focus {
  outline: none;
 }
 
 .input:focus ~ label, .input:valid ~ label {
  top: -5px;
  font-size: 14px;
  color: #5264AE;
 }
 
 .bar {
  position: relative;
  display: block;
  width: 170px;
 }
 
 .bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: -20px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
 }
 
 .bar:before {
  left: 50%;
 }
 
 .bar:after {
  right: 50%;
 }
 
 .input:focus ~ .bar:before, .input:focus ~ .bar:after {
  width: 50%;
 }
 
 .highlight {
  position: absolute;
  height: 60%;
  width: 170px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
 }
 
 .input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
 }
 
 @keyframes inputHighlighter {
  from {
   background: #5264AE;
  }
 
  to {
   width: 0;
   background: transparent;
  }
 }

 /* Registro y Login */

 .log-title {
	font-weight: bold;
	margin: 0;
}

.h2 {
	text-align: center;
}

.p-log {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.link-log {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.btn-log {
	border-radius: 20px;
	border: 1px solid #0093E9;
	background-color: #0093E9;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.btn-log:active {
	transform: scale(0.95);
}

.btn-log:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.form-log {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.input-log {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.containernew {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.containernew.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.containernew.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.containernew.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background-color: #0093E9;
	background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.containernew.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.containernew.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.containernew.right-panel-active .overlay-right {
	transform: translateX(20%);
}

/* Index */

.banner {
  width: 100%;
  height: auto;
}

/* Error Page */

.center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.error {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.number {
  font-weight: 900;
  font-size: 15rem;
  line-height: 1;
}

.illustration {
  position: relative;
  width: 12.2rem;
  margin: 0 2.1rem;
}

.circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 12.2rem;
  height: 11.4rem;
  border-radius: 50%;
  background-color: #293b49;
}

.clip {
  position: absolute;
  bottom: 0.3rem;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  width: 12.5rem;
  height: 13rem;
  border-radius: 0 0 50% 50%;
}

.paper {
  position: absolute;
  bottom: -0.3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 9.2rem;
  height: 12.4rem;
  border: 0.3rem solid #293b49;
  background-color: white;
  border-radius: 0.8rem;
  
}
.paper::before {
  content: "";
  position: absolute;
  top: -0.7rem;
  right: -0.7rem;
  width: 1.4rem;
  height: 1rem;
  background-color: white;
  border-bottom: 0.3rem solid #293b49;
  transform: rotate(45deg);
}

.face {
  position: relative;
  margin-top: 2.3rem;
}

.eyes {
  position: absolute;
  top: 0;
  left: 2.4rem;
  width: 4.6rem;
  height: 0.8rem;
}

.eye {
  position: absolute;
  bottom: 0;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #293b49;
  animation-name: eye;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  
}
.eye-left {
  left: 0;
}

.eye-right {
  right: 0;
}

@keyframes eye {
  0% {
    height: 0.8rem;
  }
  50% {
    height: 0.8rem;
  }
  52% {
    height: 0.1rem;
  }
  54% {
    height: 0.8rem;
  }
  100% {
    height: 0.8rem;
  }
}

.rosyCheeks {
  position: absolute;
  top: 1.6rem;
  width: 1rem;
  height: 0.2rem;
  border-radius: 50%;
  background-color: #fdabaf;
  
}
.rosyCheeks-left {
  left: 1.4rem;
}

.rosyCheeks-right {
  right: 1.4rem;
}

.mouth {
  position: absolute;
  top: 3.1rem;
  left: 50%;
  width: 1.6rem;
  height: 0.2rem;
  border-radius: 0.1rem;
  transform: translateX(-50%);
  background-color: #293b49;
}

.text {
  margin-top: 5rem;
  font-weight: 300;
  color: #293b49;
  font-family: "Lato", sans-serif;
}

.button-error {
  margin-top: 4rem;
  padding: 1.2rem 3rem;
  color: white;
  background-color: #04cba0;
  
}

.button-error:hover {
  background-color: #01ac88;
}

/* Lista sugerencias */

.lista {
  --border-radius: 0.75rem;
  --primary-color: #7257fa;
  --secondary-color: #3c3852;
  width: 700px;
  font-family: "Arial";
  padding: 1rem;
  cursor: pointer;
  border-radius: var(--border-radius);
  background: #f1f1f3;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
  position: relative;
}

.lista > * + * {
  margin-top: 1.1em;
}

.lista .lista__content {
  color: var(--secondary-color);
  font-size: 1rem;
}

.lista .lista__title {
  padding: 0;
  font-size: 1.3rem;
  font-weight: bold;
  color: #4d4dff;
}

.lista .lista__date {
  color: #0071e2;
  font-size: 0.8rem;
}

.form-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #4d4dff;
  text-align: center;
  margin-bottom: 1rem;
}