body {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  min-height: 100vh;
  overflow-x: hidden;
}

/* Inicio menu vertical */

 .vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}
.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
} 

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff;
}

.text-uppercase {
  letter-spacing: 0.1em;
}
.text-gray {
  color: #aaa;
}
.nav-link{
    text-transform: capitalize;
}
.nav-link:hover{
    background:#f3f2f2;
}
.text-primary{
    color:#7579e7 !important;
}

.bottom {
  position: fixed;
  bottom: 0;
  background: #fff;
  margin-left: 1rem;
  padding: 1rem;
  text-align: center;
}
@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}

.hover:hover {
  background-color: red;
}

/* Fin menu vertical */

/* Tarjetas */

.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.box {
  width: 33%;
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px hsl(229, 6%, 66%);
  padding: 30px;
  margin: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.box h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}
  
.box-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.box p {
  align-self: center;
  color: #a1c4fd;
  font-size: 5rem;
}

img {
  width: 50%;
  height: auto;
}


.cyan {
  border-top: 5px solid hsl(180, 62%, 55%);
}

.blue {
  border-top: 3px solid hsl(212, 86%, 64%);
}
.orange {
  border-top: 3px solid hsl(34, 97%, 64%);
}

/* Form */

.form-title {
  font-size: 1.5rem;
}

/* Detalles Paciente */

.card {
  border-radius: 5px;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
  border: none;
  margin-bottom: 30px;
}

.m-r-0 {
  margin-right: 0px;
}

.m-l-0 {
  margin-left: 0px;
}

.user-card-full .user-profile {
  border-radius: 5px 0 0 5px;
}

.bg-card {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.user-profile {
  padding: 20px 0;
}

.card-block {
  padding: 1.25rem;
}

.m-b-25 {
  margin-bottom: 25px;
}

.img-radius {
  border-radius: 5px;
}



h6 {
  font-size: 14px;
}

.card .card-block p {
  line-height: 25px;
}

@media only screen and (min-width: 1400px){
p {
  font-size: 14px;
}
}

.card-block {
  padding: 1.25rem;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
  margin-bottom: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.card .card-block p {
  line-height: 25px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.text-muted {
  color: #919aa3 !important;
}

a .text-active {
  color: #7579e7 !important;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
  font-weight: 600;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-t-40 {
  margin-top: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-t-40 {
  margin-top: 20px;
}

/* Separador */

.divider {
  display: flex;
  margin-right: 50px;
}

.divider:before,
  .divider:after {
    content: "";
    flex: 1;
  }

.line {
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.line:before,
.line:after {
  height: 1px;
  margin: 0 1em;
}

.one-line:before,
.one-line:after {
  background: black;
}

/* Signos vitales */
.pill {
  --primary-clr: #1C204B;
  --dot-clr: #BBC0FF;
  --play: hsl(195, 74%, 62%);
  width: 200px;
  height: 170px;
  border-radius: 10px;
 }
 
 .pill {
  font-family: "Arial";
  color: #fff;
  display: grid;
  cursor: pointer;
  grid-template-rows: 50px 1fr;
 }
 
 .pill:hover .img-section {
  transform: translateY(1em);
 }
 
 .pill-desc {
  border-radius: 10px;
  padding: 15px;
  position: relative;
  top: -10px;
  display: grid;
  gap: 10px;
  background: var(--primary-clr);
  color: #fff;
 }

 .bg-desc-light-blue {
  background: #4D58FF;
 }
 .bg-desc-sky {
  background: #6670FF;
 }
 .bg-desc-red {
  background : #FF4D4D;
 }
 .bg-desc-pink {
  background: #FF6666;
 }
 .bg-blanco {
  background: #E6E6E6;
 }
 
 .pill-time {
  font-size: 0.9rem;
  font-weight: 500;
 }
 
 .img-section {
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
 }

 .bg-blue {
  background: hsl(195, 74%, 62%);
 }
 .bg-light-blue {
  background: #99A0FF;
 }
 .bg-light-red {
  background: #ff9999;
 }
 .bg-light-pink{
  background: #ffd3d3;
 } 
 .bg-sky {
  background: #b3ccff;
 }
 .pill-header {
  display: flex;
  align-items: center;
  width: 100%;
 }
 
 .pill-title {
  flex: 1;
  font-size: 0.7em;
  font-weight: 300;
 }
 
 .pill svg {
  float: right;
  max-width: 100%;
  max-height: 100%;
 }
 .pill-menu {
  display: flex;
  gap: 4px;
  margin-inline: auto;
 }

 .pill .dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #FFF;
 }
 
.recent {
  line-height: 0.3;
  font-size: 1rem;
  text-decoration: wavy;
 }

 a:hover {
  text-decoration: none;
 }

 .link-a {
  color: #4D58FF;
 }

 /* input para actualizar */
 .group {
  position: relative;
 }
 
 .input {
  font-size: 14px;
  position: absolute;
  color: #919aa3;
  top: -5px;
  display: block;
  width: 125px;
  border: none;
  border-bottom: 1px solid #919aa3;
  background: transparent;
 }
 
 .input:focus {
  outline: none;
 }
 
 .input:focus ~ label, .input:valid ~ label {
  top: -5px;
  font-size: 14px;
  color: #5264AE;
 }
 
 .bar {
  position: relative;
  display: block;
  width: 125px;
 }
 
 .bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: -20px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
 }
 
 .bar:before {
  left: 50%;
 }
 
 .bar:after {
  right: 50%;
 }
 
 .input:focus ~ .bar:before, .input:focus ~ .bar:after {
  width: 50%;
 }
 
 .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
 }
 
 .input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
 }
 
 @keyframes inputHighlighter {
  from {
   background: #5264AE;
  }
 
  to {
   width: 0;
   background: transparent;
  }
 }