@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewData["Title"] - HospiEnCasa</title>
  <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
  <div class="container d-flex justify-content-center bg-white rounded w-100">
  <div class="center">
  <div class="error">
    <div class="number">4</div>
    <div class="illustration">
      <div class="circle"></div>
      <div class="clip">
        <div class="paper">
          <div class="face">
            <div class="eyes">
              <div class="eye eye-left"></div>
              <div class="eye eye-right"></div>
            </div>
            <div class="rosyCheeks rosyCheeks-left"></div>
            <div class="rosyCheeks rosyCheeks-right"></div>
            <div class="mouth"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="number">4</div>
  </div>

  <div class="text">Oops. Parece ser que la pagina que estas buscando no existe o no tienes acceso, ¿Por que no intentas volver al inicio?</div>
  <a class="button-error" asp-page="/Index">Inicio</a>
</div>

</div>
</body>
</html>