@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="box-container">
            <div class="box cyan">
                <h2>Pacientes Actuales<h2/>
                <div class="box-content">
                    <p>@Model.countvalPac</p>
                    <img src="~/assets/paciente.png" alt="" class="box-img">
                </div>
            </div>
            <div class="box blue">
                <h2>Medicos Registrados<h2/>
                <div class="box-content">
                    <p>@Model.countvalMed</p>
                    <img src="~/assets/doctor.png" alt="" class="box-img">
                </div>
            </div>
            <div class="box orange">
                <h2>Enfermeros Registrados<h2/>
                <div class="box-content">
                    <p>@Model.countvalEnf</p>
                    <img src="~/assets/nurse.png" alt="" class="box-img">
                </div>
            </div>
</div>
