@page
@model HospiEnCasa.App.FrontEnd.Pages.Login
@{
    ViewData["Title"] = "Login";
}

<div class="containernew mt-5" id="container">
    <div class="form-container sign-in-container">
        <form class="form-log" method="post">
            <div>
                <h1 class="log-title mb-3">Iniciar Sesi칩n</h1>
                <input asp-for="LoginUser.Correo" class="input-log" type="text" placeholder="Correo" />
                <input asp-for="LoginUser.Contrase침a" class="input-log" type="password" placeholder="Contrase침a" />
                <input asp-for="LoginUser.Recordarme" type="checkbox" id="remember" /> 
                <label asp-for="LoginUser.Recordarme" for="remember">Recordarme</label>
                <button class="btn-log" type="submit">Iniciar Sesi칩n</button>
            </div>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1 class="log-title"">Hola, Amig&#064;!</h1>
                <p class="p-log">Ingresa los datos necesarios para registrarte en el sistema</p>
                <div>
                    <a asp-page="/Registro" class="ghost btn-log">Registrarme</a>
                </div>
            </div>
        </div>
    </div>
</div>