@page
@model HospiEnCasa.App.FrontEnd.Pages.Registro
@{
    ViewData["Title"] = "Registro";
}

<div class="containernew right-panel-active mt-5" id="container">
    <div class="form-container sign-up-container">
        <form class="form-log" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
                <h1 class="mb-3 log-title">Crear Cuenta</h1>
                <div class="form-row mb-3">
                    <div class="col">
                      <input class="form-control" type="text" asp-for="Persona.Nombres" placeholder="Nombres" />
                    </div>
                    <div class="col">
                        <input class="form-control" type="text" asp-for="Persona.Apellidos" placeholder="Apellidos" />
                    </div>
                  </div>
                <div class="form-row">
                    <div class="col">
                        <input class="form-control" type="text" asp-for="Persona.Id" placeholder="Documento" />
                    </div>
                    <div class="col">
                        <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <label class="input-group-text">Genero</label>
                      </div>
                      <select class="custom-select" asp-for="Persona.Genero">
                        <option selected>-- Selecciona una opción --</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                        <option value="Otro">Otro</option>
                      </select>
                    </div>
                  </div>
                    </div>
                </div>
                
                <input class="form-control mb-3" asp-for="RegistroUsuario.Correo" type="email" placeholder="Email" />
                <input class="form-control mb-3" asp-for="RegistroUsuario.Contraseña" type="password" placeholder="Contraseña" />
                <input class="form-control mb-3" asp-for="RegistroUsuario.ConfirmarContraseña" type="password" placeholder="Confirmar Contraseña" />
                <label for="">Tipo de cuenta</label>
                <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                        <input class="form-check-input" type="radio" asp-for="RegistroUsuario.Tipo" value="Paciente">
                        <label class="form-check-label">Paciente</label>
                    </div>
                    <div class="col-auto my-1 ml-3">
                        <input class="form-check-input" type="radio" asp-for="RegistroUsuario.Tipo" value="Medico">
                        <label class="form-check-label">Medico</label>
                    </div>
                  </div>
                <button class="btn-log">Registrarse</button>
            </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1 class="log-title"">Bienvenido de vuelta</h1>
                <p class="p-log">Para conectarte al sistema por favor inicia sesión con tus datos al presionar el boton de abajo</p>
                <a asp-page="/Login">
                    <button class="ghost btn-log" id="signIn">Iniciar Sesion</button>
                </a>
            </div>
        </div>
    </div>
</div>